{% trans_default_domain 'FOSUserBundle' %}

<div class="register-box-body">
    <p class="login-box-msg">Inscription</p>

    {{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'), 'attr': {'class': 'fos_user_registration_register'}}) }}
        <div class="form-group has-feedback">
            {{ form_widget(form.username, { 'attr': { 'class' : 'form-control', 'placeholder': 'form.username', 'required': 'required', 'value': form.username.vars.value}}) }}
            <span class="glyphicon glyphicon-user form-control-feedback"></span>
        </div>
        <div class="form-group has-feedback">
            {{ form_widget(form.email, { 'attr': { 'class' : 'form-control', 'placeholder': 'form.email', 'required': 'required', 'value': form.email.vars.value }}) }}
            <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
        </div>
        <div class="form-group has-feedback">
            {{ form_widget(form.plainPassword.first, { 'attr': { 'class' : 'form-control', 'placeholder': 'form.password'|trans, 'required': 'required' }}) }}
            <span class="glyphicon glyphicon-lock form-control-feedback"></span>
        </div>
        <div class="form-group has-feedback">
            {{ form_widget(form.plainPassword.second, { 'attr': { 'class' : 'form-control', 'placeholder': 'form.password_confirmation'|trans, 'required': 'required'}}) }}
            <span class="glyphicon glyphicon-log-in form-control-feedback"></span>
        </div>
        {{ form_widget(form) }}

        <div class="row">
            <!-- /.col -->
            <div class="col-xs-4">
                <input type="submit" value="{{ 'registration.submit'|trans }}" />
            </div>
            <!-- /.col -->
        </div>
    {{ form_end(form) }}
</div>