{% trans_default_domain 'FOSUserBundle' %}

{{ form_start(form, { 'action': path('fos_user_resetting_reset', {'token': token}), 'attr': { 'class': 'fos_user_resetting_reset' } }) }}
    <div class="box-body">
        <div class="form-group has-feedback">
            <label for="username">{{ 'form.new_password'|trans }}</label>
            {{ form_widget(form.plainPassword.first, { 'attr': { 'class' : 'form-control', 'placeholder': 'form.new_password'|trans, 'required': 'required' }}) }}
            <span class="glyphicon glyphicon-lock form-control-feedback"></span>
        </div>
        <div class="form-group has-feedback">
            <label for="username">{{ 'form.new_password_confirmation'|trans }}</label>
            {{ form_widget(form.plainPassword.second, { 'attr': { 'class' : 'form-control', 'placeholder': 'form.new_password_confirmation'|trans, 'required': 'required'}}) }}
            <span class="glyphicon glyphicon-log-in form-control-feedback"></span>
        </div>
    </div>
    {{ form_widget(form) }}
    <!-- /.box-body -->

    <div class="box-footer">
        <button type="submit" class="btn btn-primary">{{ 'resetting.request.submit'|trans }}</button>
    </div>
{{ form_end(form) }}
