{% if app.request.getLocale() == 'fr' %}
    {% set other_locale_title = 'en' %}
{%  else %}
    {% set other_locale_title = 'fr' %}
{% endif %}
{% set other_locale_path =  path(app.request.attributes.get('_route'), {'_locale': other_locale_title}) %}

{% block navigation %}
    <nav class="navbar navbar-default navbar-custom navbar-fixed-top">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    Menu <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand" href="{{ path("web_homepage") }}">Sandbox</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="{{ path("web_homepage") }}">Home</a>
                    </li>
                    <li>
                        <a href="{{ path("web_contact") }}">Contact</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>
{% endblock %}