{% extends 'WebBundle:layout:sandbox.html.twig' %}
{% block title %}Sandbox - Accueil{% endblock %}

{% block header %}
    <header class="intro-header" style="background-image: url('{{ asset("web/img/home-bg.jpg") }}')">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="site-heading">
                        <h1>{{ 'contact me'|trans|capitalize }}</h1>
                        <hr class="small">
                        <span class="subheading">{{ "des questions?"|trans|capitalize}} {{ "j'ai des réponses (surement)."|trans|capitalize }}</span>
                    </div>
                </div>
            </div>
        </div>
    </header>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <p>Want to get in touch with me? Fill out the form below to send me a message and I will try to get back to you within 24 hours!</p>
                <!-- Contact Form - Enter your email address on line 19 of the mail/contact_me.php file to make this form work. -->
                <!-- WARNING: Some web hosts do not allow emails to be sent through forms to common mail hosts like Gmail or Yahoo. It's recommended that you use a private domain email address! -->
                <!-- NOTE: To use the contact form, your site must be on a live web host with PHP! The form will not work locally! -->
                {#<form name="sentMessage" id="contactForm" novalidate>#}
                    {#<div class="row control-group">#}
                        {#<div class="form-group col-xs-12 floating-label-form-group controls">#}
                            {#<label>Name</label>#}
                            {#<input type="text" class="form-control" placeholder="Name" id="name" required data-validation-required-message="Please enter your name.">#}
                            {#<p class="help-block text-danger"></p>#}
                        {#</div>#}
                    {#</div>#}
                    {#<div class="row control-group">#}
                        {#<div class="form-group col-xs-12 floating-label-form-group controls">#}
                            {#<label>Email Address</label>#}
                            {#<input type="email" class="form-control" placeholder="Email Address" id="email" required data-validation-required-message="Please enter your email address.">#}
                            {#<p class="help-block text-danger"></p>#}
                        {#</div>#}
                    {#</div>#}
                    {#<div class="row control-group">#}
                        {#<div class="form-group col-xs-12 floating-label-form-group controls">#}
                            {#<label>Phone Number</label>#}
                            {#<input type="tel" class="form-control" placeholder="Phone Number" id="phone" required data-validation-required-message="Please enter your phone number.">#}
                            {#<p class="help-block text-danger"></p>#}
                        {#</div>#}
                    {#</div>#}
                    {#<div class="row control-group">#}
                        {#<div class="form-group col-xs-12 floating-label-form-group controls">#}
                            {#<label>Message</label>#}
                            {#<textarea rows="5" class="form-control" placeholder="Message" id="message" required data-validation-required-message="Please enter a message."></textarea>#}
                            {#<p class="help-block text-danger"></p>#}
                        {#</div>#}
                    {#</div>#}
                    {#<br>#}
                    {#<div id="success"></div>#}
                    {#<div class="row">#}
                        {#<div class="form-group col-xs-12">#}
                            {#<button type="submit" class="btn btn-default">Send</button>#}
                        {#</div>#}
                    {#</div>#}
                {#</form>#}
                {{ form_start(form, {'attr': {'id': 'contactForm', 'novalidate': true}, 'name':'sentMessage'}) }}
                    <div class="row control-group">
                        <div class="form-group col-xs-12 floating-label-form-group controls">
                            {{ form_label(form.name) }}
                            {{ form_widget(form.name) }}
                            <p class="help-block text-danger"></p>
                        </div>
                    </div>
                    <div class="row control-group">
                        <div class="form-group col-xs-12 floating-label-form-group controls">
                            {{ form_label(form.email) }}
                            {{ form_widget(form.email) }}
                            <p class="help-block text-danger"></p>
                        </div>
                    </div>
                    <div class="row control-group">
                        <div class="form-group col-xs-12 floating-label-form-group controls">
                            {{ form_label(form.phone) }}
                            {{ form_widget(form.phone) }}
                            <p class="help-block text-danger"></p>
                        </div>
                    </div>
                    <div class="row control-group">
                        <div class="form-group col-xs-12 floating-label-form-group controls">
                            {{ form_label(form.message) }}
                            {{ form_widget(form.message) }}
                            <p class="help-block text-danger"></p>
                        </div>
                    </div>
                    <br>
                    <div id="success"></div>
                    <div class="row">
                        <div class="form-group col-xs-12">
                            {{ form_widget(form.save) }}
                            {#<button type="submit" class="btn btn-default">Send</button>#}
                        </div>
                    </div>
                {{ form_widget(form) }}
                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}
{#{% block body %}#}
    {#{% for entry in blog_entries %}#}
        {#<h2>{{ entry.title }}</h2>#}
        {#<p>{{ entry.body }}</p>#}
    {#{% endfor %}#}
{#{% endblock %}#}