{% trans_default_domain 'FOSUserBundle' %}

{% if error %}
    <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
{% endif %}

<p class="login-box-msg">Sign in to start your session</p>

{#<form action="../../index2.html" method="post">#}

    {#<div class="form-group has-feedback">#}
        {#<input type="email" class="form-control" placeholder="Email">#}
        {#<span class="glyphicon glyphicon-envelope form-control-feedback"></span>#}
    {#</div>#}

    {#<div class="form-group has-feedback">#}
        {#<input type="password" class="form-control" placeholder="Password">#}
        {#<span class="glyphicon glyphicon-lock form-control-feedback"></span>#}
    {#</div>#}
    {#<div class="row">#}
        {#<div class="col-xs-8">#}
            {#<div class="checkbox icheck">#}
                {#<label>#}
                    {#<input type="checkbox"> Remember Me#}
                {#</label>#}
            {#</div>#}
        {#</div>#}
        {#<!-- /.col -->#}
        {#<div class="col-xs-4">#}
            {#<button type="submit" class="btn btn-primary btn-block btn-flat">Sign In</button>#}
        {#</div>#}
        {#<!-- /.col -->#}
    {#</div>#}
{#</form>#}

<form action="{{ path("fos_user_security_check") }}" method="post">
    {% if csrf_token %}
        <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
    {% endif %}

    <div class="form-group has-feedback">
        <input type="text" class="form-control" placeholder="{{ 'security.login.username'|trans }}" id="username" name="_username" value="{{ last_username }}" required="required">
        <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
    </div>

    <div class="form-group has-feedback">
        <input type="password" class="form-control" placeholder="{{ 'security.login.password'|trans }}" id="password" name="_password" required="required" >
        <span class="glyphicon glyphicon-lock form-control-feedback"></span>
    </div>

    <div class="row">
        <div class="col-xs-8">
            <div class="checkbox icheck">
                <label>
                    <input type="checkbox" id="remember_me" name="_remember_me" value="on" /> {{ 'security.login.remember_me'|trans }}
                </label>
            </div>
        </div>
        <!-- /.col -->
        <div class="col-xs-4">
            <button type="submit" id="_submit" name="_submit" class="btn btn-primary btn-block btn-flat">{{ 'security.login.submit'|trans }}</button>
        </div>
        <!-- /.col -->
    </div>

    {#<label for="username">{{ 'security.login.username'|trans }}</label>#}
    {#<input type="text" id="username" name="_username" value="{{ last_username }}" required="required" />#}

    {#<label for="password">{{ 'security.login.password'|trans }}</label>#}
    {#<input type="password" id="password" name="_password" required="required" />#}

    {#<input type="checkbox" id="remember_me" name="_remember_me" value="on" />#}
    {#<label for="remember_me">{{ 'security.login.remember_me'|trans }}</label>#}

    {#<input type="submit" id="_submit" name="_submit" value="{{ 'security.login.submit'|trans }}" />#}
</form>
